<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>demo</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>servlet.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>servlet.PersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/personalEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuesEditServlet</servlet-name>
    <servlet-class>servlet.QuesEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuesEditServlet</servlet-name>
    <url-pattern>/quesEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ComputerServlet</servlet-name>
    <servlet-class>servlet.ComputerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComputerServlet</servlet-name>
    <url-pattern>/computer</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RenwenServlet</servlet-name>
    <servlet-class>servlet.RenwenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenwenServlet</servlet-name>
    <url-pattern>/renwen</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>OthersServlet</servlet-name>
    <servlet-class>servlet.OthersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OthersServlet</servlet-name>
    <url-pattern>/others</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllServlet</servlet-name>
    <servlet-class>servlet.AllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllServlet</servlet-name>
    <url-pattern>/all</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>ToPersonEdit</servlet-name>
    <servlet-class>servlet.ToPersonEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToPersonEdit</servlet-name>
    <url-pattern>/personEdit</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>SchoolUpdateServlet</servlet-name>
    <servlet-class>servlet.SchoolUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchoolUpdateServlet</servlet-name>
    <url-pattern>/schoolUpdate</url-pattern>
  </servlet-mapping>  
    <servlet>
    <servlet-name>ToPersonServlet</servlet-name>
    <servlet-class>servlet.ToPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToPersonServlet</servlet-name>
    <url-pattern>/toPerson</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserManageServlet</servlet-name>
    <servlet-class>servlet.UserManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManageServlet</servlet-name>
    <url-pattern>/userManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionSearchServlet</servlet-name>
    <servlet-class>servlet.QuestionSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionSearchServlet</servlet-name>
    <url-pattern>/questionSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSearchServlet</servlet-name>
    <servlet-class>servlet.UserSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchServlet</servlet-name>
    <url-pattern>/userSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/userDeleteServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>UserLockServlet</servlet-name>
    <servlet-class>servlet.UserLockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLockServlet</servlet-name>
    <url-pattern>/userLockServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>UserUnlockServlet</servlet-name>
    <servlet-class>servlet.UserUnlockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUnlockServlet</servlet-name>
    <url-pattern>/userUnlockServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>QuestionManageServlet</servlet-name>
    <servlet-class>servlet.QuestionManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionManageServlet</servlet-name>
    <url-pattern>/questionManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionDeleteServlet</servlet-name>
    <servlet-class>servlet.QuestionDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionDeleteServlet</servlet-name>
    <url-pattern>/questionDeleteServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>QuestionLockServlet</servlet-name>
    <servlet-class>servlet.QuestionLockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionLockServlet</servlet-name>
    <url-pattern>/questionLockServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>QuestionUnlockServlet</servlet-name>
    <servlet-class>servlet.QuestionUnlockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionUnlockServlet</servlet-name>
    <url-pattern>/questionUnlockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionUpdateServlet</servlet-name>
    <servlet-class>servlet.QuestionUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionUpdateServlet</servlet-name>
    <url-pattern>/questionUpdate</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>MyQuesDelServlet</servlet-name>
    <servlet-class>servlet.MyQuesDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyQuesDelServlet</servlet-name>
    <url-pattern>/myQuesDelServlet</url-pattern>
  </servlet-mapping>
</web-app>